@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Outfit:wght@100..900&display=swap');

/**************************************/
/* VARIABLES */
/**************************************/
:root {
  --almost-black: #151515;
  --gold: #d5966c;
  --grey: #444444;
  --white: #ffffff;
}

/**************************************/
/* MARGIN AND PADDING */
/**************************************/
* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px 20px 5px 20px;
}
main.container {
  margin: 100px 0;
  padding: 0 20px;
}
img {
  margin-bottom: 15px;
  width: 100%;
  object-fit: contain;
}

.hero img {
  margin-bottom: 0;
}

/**************************************/
/* TYPOGRAPHY */
/**************************************/

h1,
h2,
h3,
h4,
button {
  font-family: 'Big Shoulders Display', sans-serif;
  font-optical-sizing: auto;
  color: var(--almost-black);
}

p {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  color: var(--grey);
}

/**************************************/
/* HEADINGS */
/**************************************/
.heading-xl {
  font-size: 60px;
  line-height: 55px;
  font-weight: 900;
  text-transform: uppercase;
}

.heading-l {
  font-size: 50px;
  line-height: 45px;
  font-weight: 900;
  text-transform: uppercase;
}

.heading-m {
}

.heading-s {
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.heading-xs {
}

/**************************************/
/* BODY */
/**************************************/
.body-m {
  margin: 50px 0;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
}

.body-s {
  margin: 40px 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.body-xs {
  margin: 40px 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
/**************************************/
/* BUTTONS */
/**************************************/
button {
  font-size: 20px;
  font-weight: 800;
  width: 204px;
  height: 72px;
  border: none;
  background-color: var(--almost-black);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 3.64px;
  transition: background-color 0.5s;
}

.button:after {
  content: url('./assets/icon-arrow-right.svg');
  display: inline-flex;
  position: absolute;
  width: 56px;
  height: 72px;
  background-color: var(--gold);
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

.button:hover button {
  background-color: var(--gold);
}

.button:hover:after {
  background-color: var(--almost-black);
}

/**************************************/
/* BLACK BACKGROUND SECTION */
/**************************************/
.black-bg {
  background-color: var(--almost-black);
}

.black-bg h1 {
  color: var(--white);
}

.black-bg h2 {
  color: var(--white);
}

.black-bg h4 {
  color: var(--white);
}

.black-bg h4 {
  color: var(--white);
}

.black-bg p {
  color: var(--white);
}

/**************************************/
/* FOOTER */
/**************************************/
footer {
  padding: 50px;
}

footer img {
  margin: 0 10px;
  width: auto;
}

/**************************************/
/* DESKTOP */
/**************************************/
@media only screen and (min-width: 800px) {
  /**************************************/
  /* HERO */
  /**************************************/
  .hero img {
    height: 800px;
  }
  .hero:before {
    content: '';
    position: absolute;
    height: 800px;
    width: calc((100vw - 555px) / 2);
    background-color: var(--almost-black);
    mix-blend-mode: difference;
  }

  .heading-xl {
    mix-blend-mode: difference;
    color: var(--white);
    font-size: 96px;
    line-height: 88px;
  }
  .body-s {
    font-size: 22px;
    line-height: 32px;
  }
  .hero {
    position: relative;
  }

  .hero .container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 100px 0;
    padding: 0;
  }
  .hero-content {
    width: 350px;
  }

  /**************************************/
  /* IMAGE GALLERY */
  /**************************************/
  img {
    margin: 0;
  }
  main.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'two two one one one'
      'three three three four four'
      'three three three five five';

    gap: 30px;
    margin: 150px;
    padding: 0;
  }
  .grid-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid-text {
    padding-right: 100px;
  }
  .grid-text .heading-l {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 30px 0;
  }
  .grid-text .body-s {
    margin: 10px 0;
    font-size: 22px;
    line-height: 32px;
  }
  .item-1 {
    grid-area: one;
  }
  .item-2 {
    grid-area: two;
  }
  .item-3 {
    grid-area: three;
  }
  .item-4 {
    grid-area: four;
  }
  .item-5 {
    grid-area: five;
  }

  /**************************************/
  /* FOOTER */
  /**************************************/

  .footer-content {
    display: flex;
    justify-content: space-between;
    margin: 25px 50px;
  }
  .footer-content .heading-l {
    font-size: 30px;
  }
  .footer-content .body-xs {
    font-size: 18px;
    line-height: 28px;
    width: 33%;
    margin: 0;
  }
}
